@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}

body {
    background-color: #FFFFFF;
    /* border: 1px solid #aa2828; */
    box-sizing: border-box;
}

.header {
    height: 80px;
}

.main {
    height: 850px;
}

.main .right {
    width: 45%;
    float: right;
    height: 100%;
}

.main .left {
    width: 55%;
    float: right;
    height: 100%;
}

.main .right .image {
    display: flex;
    align-items: center;
    justify-content: center;
      height: 100%;
 
}
.wrap {
    float: right;
    margin-top: 170px;
    margin-right: 40px;

}






.wrap #click {
    background: #40AD87;
    width: 245px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #40AD87;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.wrap  #click:hover  {
    cursor: pointer;
    background-color: #39d19c;

}

.wrap #title {
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
}

.wrap #content {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.wrap #content,#title{
    letter-spacing: 0px;
    text-align: left;
} 
@media screen and (max-width:1200px){
    .main{
        height: 900px;
    }
    .main .right {
        width: 100%;
        height: 40%;
    }
    .right img{
        width: 500px;
    }
    .main .left{
        width: 100%;
        height: 80%;
        clear: both;
    }
    .wrap {
       margin-top: 0px;
       margin-right: 0px;
    }
    .main .left .wrap  #title{
        text-align: center;
        width: 100%;
    }
    .wrap #content{
        text-align: center;
    }
    .wrap .button{
        width: 100%;

    }
    .wrap .button #click {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .main .left .wrap {
        width: 100%;
    }
    
}
@media screen and (max-width:992px) {
    .right img{
        width: 450px;
    }
    .wrap #title {
        font-size: 56px;
        font-weight: 500;
        line-height: 90px;
    }
    
    .wrap #content {
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
    }  
    .wrap #click {
        background: #40AD87;
        width: 150px;
        height: 50px;
        border-radius: 50px;
    
    }

}
@media screen and (max-width:768px) {
    .main{
        height: 600px;
    }
    .right img{
        width: 350px;
    }
    .wrap #title {
        font-size: 40px;
        font-weight: 500;
        line-height: 90px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .wrap #content {
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
    }  
    .wrap #click {
        background: #40AD87;
        width: 150px;
        height: 50px;
        border-radius: 50px;
    
    }
}
/* git checkout */